numpy
pandas
scikit-learn
joblib
crewai
crewai[tools]
chromadb
sentence-transformers
pypdf
langchain==0.3.27
langchain-chroma==0.2.6
langchain-community==0.3.30
langchain-core==0.3.78
langchain-groq==0.3.8
langchain-huggingface==0.3.1